body {
  font-family: 'Raleway', sans-serif;
}
body,html {
  margin: 0;
  background: #f1ececb3;
}
/**************************************************/
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

/***************shared between pages ************************************/

/**************************************************/
header {
  box-sizing: border-box;
  margin-bottom: 5px;
}

header i {
  font-size: 45px;
  color: brown;
  position: absolute;
  left: 40px;
  top: 20px;
}

.sp {
  position: absolute;
  left: 90px;
  top: 15px;
  font-size: 24px;
  font-weight: 600;
  color: brown;
}

.title-section {
  width: 100%;
  height: 80px;
  background: lightcoral;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}

.page-title {
  position: absolute;
  top: 43px;
  left: 110px;
  font-size: 22px;
  font-weight: 600;
  color: brown;
}
/*********************************************************/
nav {
  box-sizing: border-box;
  padding: 0 5px;
  margin-bottom: 5px;
  width: 100%;
}
nav span:first-of-type {
  font-size: 24px;
}

.nav-items ul li {
  text-decoration: none;
  padding-right: 0px;
  margin-right: 10px;
  padding: 3px;
}

.nav-items ul li:hover {
    font-weight: 600;
    background: lightgray;
}

.nav-items ul {
    list-style-type: none;
    padding-left: 10px;
}

.nav-items {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  display: none;
}

.inner-nav {
  display: grid;
  grid-template-columns: 1fr 40px;
  border: 1px solid lightgray;
  background: lightgrey;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*********************************************************/

.burger-container {
  width: 30px;
}
#burger {
  width: 30px;
  margin: 10px 0;
  grid-column: 2;
}

#burger span {
  border: 2px solid gray;
}
.burger {
  display: block;
  border: 2px solid white;
  margin: 5px 0;
}

#burger:hover span {
  border: 2px solid darkslategray;
}

/*********************************************************/


@media only screen and (min-width: 768px) {
   header {
    display: grid;
    grid-template-columns: 270px 1fr;
    background: lightcoral;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
  }

  .title-scetion {
    display: inline-block;
    width: 270px;
  }

  nav {
    display: inline-block;
  }

  .inner-nav {
    display: none;
  }

  .nav-items {
    display: block;
    border: none;
  }
  ul {
    float: right;
    margin-top: 30px;
  }
  ul li {
    display: inline;
  }
}