body {
  font-family: 'Raleway', sans-serif;
}
body,html {
  margin: 0;
  background: #f1ececb3;
}
/**************************************************/
a {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}

/***************shared between pages ************************************/
.my-img,
.my-img-card {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 200px;
  align-items: center;
  margin-bottom: 10px;
}
/*********************** Header ***************************/
header {
  box-sizing: border-box;
  margin-bottom: 5px;
}

header i {
  font-size: 45px;
  color: brown;
  position: absolute;
  left: 40px;
  top: 20px;
}

.sp {
  position: absolute;
  left: 90px;
  top: 15px;
  font-size: 24px;
  font-weight: 600;
  color: brown;
}

.title-section {
  width: 100%;
  height: 80px;
  background: lightcoral;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}

.page-title {
  position: absolute;
  top: 43px;
  left: 110px;
  font-size: 22px;
  font-weight: 600;
  color: brown;
}
/*********************** Nav **********************************/
nav {
  box-sizing: border-box;
  padding: 0 5px;
  margin-bottom: 5px;
  width: 100%;
}
nav span:first-of-type {
  font-size: 24px;
}

.nav-items ul li {
  text-decoration: none;
  padding-right: 0px;
  margin-right: 10px;
  padding: 3px;
}

.nav-items ul li:hover {
    font-weight: 600;
    background: lightgray;
}

.nav-items ul {
    list-style-type: none;
    padding-left: 10px;
}

.nav-items {
  border: 1px solid lightgray;
  margin-bottom: 10px;
  display: none;
}

.inner-nav {
  display: grid;
  grid-template-columns: 1fr 40px;
  border: 1px solid lightgray;
  background: lightgrey;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
/********************** Burger ***********************************/

.burger-container {
  width: 30px;
}
#burger {
  width: 30px;
  margin: 10px 0;
  grid-column: 2;
}

#burger span {
  border: 2px solid gray;
}
.burger {
  display: block;
  border: 2px solid white;
  margin: 5px 0;
}

#burger:hover span {
  border: 2px solid darkslategray;
}

/******************** Filter *************************************/

.filters-header {
  display: grid;
  grid-template-columns: 1fr 40px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  text-align: center;
  background: lightgray;
  padding: 3px;
  margin-top: 5px;
}
.filter-items-con {
  display: none;
}
.filter-hdr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  text-align: center;
  border: 1px solid gray;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
  background: gainsboro;
  color: darkslategray;
  font-weight: 600;
}

.btn-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  width: 155px;
  padding-left: 5px;
}

.sub-btn:disabled {
  background: navajowhite;
  border: 1px solid red;
}

.sub-btn, .clear-btn {
  margin-bottom: 10px;
  padding: 5px 10px;
  color: darkslategray;
  font-weight: 600;
}

.item {
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 5px 0;
  cursor: pointer;
}

.filter-select-A,
.filter-select-B,
.filter-select-C {
    box-sizing: border-box;
    padding: 5px;
    background: gainsboro;
    border: 1px solid gray;
    overflow: hidden scroll;
    max-height: 350px;
    min-height: 40px;
}

.inner-divs {
  box-sizing: border-box;
  padding: 2px 0;
  width: max-content;
  min-width: 145px;
}

.inner-filter-B label,
.inner-filter-C label {
  position: relative;
  top: -3px;
  padding-left: 10px;
}

.inner-divs input[type='radio'] {
  width: 15px;
  height: 15px;
}
.filters-header span {
  font-size: 20px;
}

.filters-header i {
  font-size: 28px;
  color: gray;
}

.fa-angle-down:hover {
  color: darkslategray;
}

.filters-con,
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-items {
  box-sizing: border-box;
  padding: 0 5px;
}

.allergen-con,
.category-input,
.author-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  display: none;
}
.category-input input,
.author-input input {
  width: 99%;
  height: 24px;
  font-size: 20px;
}

/*********************** Recipe Page *********************/

.recipe {
  border-top: 1px solid lightpink;
  border-bottom: 1px solid lightpink;
  max-width: 600px;
  margin: 10px auto;
}

.recipe span:first-of-type {
  font-weight: 600;
}

.recipe-box {
  box-sizing: border-box;
  margin-left: 10px;
}
.recipe-header {
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 15px 5px;
}
.recipe-details {
  box-sizing: border-box;
  padding: 5px 0;
}
.recipe-category,
.recipe-author {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 10px;
}

.recipe-author span:first-of-type,
.recipe-category span:first-of-type {
  font-weight: 600;
}

.allergen {
  background: lightcoral;
  padding: 5px 10px;
  font-weight: 600;
  border: 1px solid coral;
  color: navajowhite;
  margin: 2px;
}

.recipe-allergens {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 10px 0;
}

.grids {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.icons {
  margin: 10px 0;
  display: inline-block;
}

.collect,
.likes {
  width: 45px;
  height: 50px;
  border: 1px solid lightslategray;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  display: inline-block;
}

.collect span,
.likes span {
  font-size: 12px;
  color: darkslategray;
  display: block;
}
i {
  font-size: 18px;
  color: lightcoral;
}
.visit {
  display: inline-block;
}

.section-con {
  display: grid;
  grid-template-columns: 55% 45%;
}

.visit {
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  display: flex;
}

.visit div {
  box-sizing: border-box;
  padding: 10px 5px;
  height: 50px;
  border: 1px solid lightslategray;
  margin-left: auto;
  padding-top: 15px;
  margin-right: 10px;
}

.view-span {
  color: darkslategray;
  cursor: pointer;
}

/************************veiw recipe page ******************************/
.stuff {
  width: 100%;
  height: 20px;
  position: relative;
  top: 90px;
  margin-bottom: 10px;
}

.recipe-title {
    background: white;
    font-size: 24px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-weight: 600;
  }
  
  .prep {
    box-sizing: border-box;
    padding: 5px;
  }
  
  .prep-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 30px;
  }
  
  .prep-inner i {
    font-size: 24px;
  }
  
  .recipe-page-icon {
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
  }
  
  .recipe-page-icon div {
    height: 60px;
    box-sizing: border-box;
    padding: 5px;
    width: 70px;
    border: 1px solid lightslategray;
    cursor: pointer;
  }
  
  .recipe-page-icon i {
    font-size: 30px;
  }
  
  .recipe-page-icon span {
    font-size: 16px;
    font-weight: 600;
    color: darkslategray;
  }
  
  .instruct-method-header ul {
    list-style: none;
    border-bottom: 4px solid lightcoral;
    padding-left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 5px;
  }
  .li-first {
    display: inline-block;
    padding: 20px;
    background-color: lightcoral;
    margin-right: 2%;
    font-weight: 600;
    color: white;
  }
  
  .li-second {
    display: inline-block;
    background-color: #f7bfbf;
    padding: 20px;
    font-weight: 600;
    color: darkslategray;
  }
  
  .li-first.sm {
    display: inline;
  }
  .li-first.lg {
    display: none;
  }
  
  .display-ing {
    box-sizing: border-box;
    padding: 5px 10px;
  }
  .display-ing span {
    display: block;
    line-height: 1.6;
  }
  
  .display-method {
    box-sizing: border-box;
    padding: 5px 10px;
    padding-top: 0;
    display: none;
  }


@media only screen and (min-width: 768px) {
   header {
    display: grid;
    grid-template-columns: 270px 1fr;
    background: lightcoral;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
  }

  .title-scetion {
    display: inline-block;
    width: 270px;
  }

  nav {
    display: inline-block;
  }

  .inner-nav {
    display: none;
  }

  .nav-items {
    display: block;
    border: none;
  }
  ul {
    float: right;
    margin-top: 30px;
  }
  ul li {
    display: inline;
  }
  
  /**********filter ********************************************/
  .filters {
    width: 80%;
    margin: 0 auto;
    padding-top: 90px;
  }
  /**************************veiw recipe page***********************/
  .grids {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    max-width: 75%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    margin: 0 auto;
  }
  
  .recipe-container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-column-gap: 20px;
    position: relative;
    top: 90px;
    box-sizing: border-box;
    padding: 20px 0;
    overflow: hidden;
    margin: 0 50px;
  }
  
  .recipe-title {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: -18px;
    width: fit-content;
    left: 30px;
    height: 40px;
  }
  
  .my-img {
    height: auto;
    grid-column: 1;
    grid-row: 1;
  }
  
/*********************************************************************************/
.prep {
    box-sizing: border-box;
    padding: 20px 10px 10px 40px;
    border-top: 1px solid lightslategray;
    grid-column: 2;
    grid-row: 1;
  }
  
  .instruct-method-header {
    grid-row: 3;
    grid-column: 1/-1;
    width: 100%;
  }
  
  .instruct-method-header ul {
    width: 100%;
    margin-top: 10px;
  }
  
  .li-second {
    display: none;
  }
  
  .li-first {
    width: fit-content;
  }
  .li-first.sm {
    display: none;
  }
  .li-first.lg {
    display: inline;
    padding: 10px 20px;
  }
  
  .display-ing {
    grid-column: 1;
    display: block !important;
  }
  
  .display-method {
    grid-column: 2;
    grid-row: 4;
    display: block !important;
  }
}

@media only screen and (min-width: 1101px) {
  
  .grids {
    grid-template-columns: 33% 33% 33%;
  }
}

@media only screen and (min-width: 1209px) {
  
  .recipe-container {
    max-width: 1210px;
    margin: 0 auto;
  }
}