<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Language" content="en">
        <title>Our Cookbook</title>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">

        
        {% block head %}

        {% endblock%}
        
    </head>
    <body>
      <header class='special'>
      <div class='title-section'>
        <i class="fas fa-book"></i>
        <span class='sp'>Our Cook Book</span>
        {% block header %}
        
        {% endblock %}
        
      </div>
    <nav>
      <div class="inner-nav">
        <div class="menu">
          <span>MENU</span>
        </div>
        <div class='burger-container'>
              <div id='burger'>
                  <span class='burger'></span>
                  <span class='burger'></span>
                  <span class='burger'></span>
              </div>
          </div>
      </div>
    
    <div class='nav-items'>
      {% block section %}
      
      {% endblock %}
      
    </div>
    </nav>
    </header>
    
      {% block content %}

      {% endblock%}
	  </body>
</html>