{% extends "base.html" %}
{% block head %}

<link rel='stylesheet' href={{url_for('static',filename='css/styles.css')}}>
{% endblock %}

{% block header %}
<span class='page-title'>Home Page</span>
{% endblock %}


  {% block section %}
    <ul>
      {% if username %}
      <li><a href="{{ url_for('user') }}">{{username}}</a></li>
      <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
      <li><a href="{{ url_for('signup_login') }}">Sign Up/Login</a></li>
      {% endif %}
    </ul>
    {% endblock %}
    
    
{% block content %}
    
    <div class='welcome'>
      <div class='welcome-inner'>
        <div class='welcome-title'>
          <h1>Welcome to Our CookBook</h1>
        </div>
        <img src='/static/assets/images/homeimageC.jpg' alt='buns'>
        
      </div>
      
    </div>
    
   

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src={{url_for('static',filename='js/main.js')}}> </script>
{% endblock %}