{% extends "base.html" %}
{% block head %}

<link rel='stylesheet' href={{url_for('static',filename='css/styles.css')}}>
{% endblock %}

{% block header %}
<span class='page-title'>Recipes Page</span>
{% endblock %}

{% block section %}
    <ul>
      {% if username %}
       <li><a href="{{ url_for('user') }}">{{username}}</a></li>
       <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('signup_login') }}">Signup/Login</a></li>
      {% endif %}
  
    </ul>
{% endblock %}

{% block content %}
    <div class='filters'>
      <div class='filters-header'>
        <div class='filter-con'>
          <span>FILTERS</span>
        </div>
        <i class="fas fa-angle-down"></i>
      </div>
      
      <div class=filter-items-con>
        <div class="btn-wrap">
            <button class="sub-btn" disabled="">SUBMIT</button>
            <button class="clear-btn">CLEAR</button>
        </div>

        <div class='filter-items'>
          <div class='filter-hdr' id='filter-A'>
              <div class="item allergen"><span>Allergens</span></div>
              <div class="item category"><span>Category</span></div>
              <div class="item author"><span>Authors</span></div>
          </div>
        </div>

      <div class='author-input type'>
        <input class='author-sel' type='text' name='author'>
        <div class='filter-select-C'>
            <div class='inner-filter-C'>
            </div>
        </div>
      </div>

      <div class='category-input type'>
        <input class='category-sel' type='text' name='category'>
        <div class='filter-select-B'>
            <div class='inner-filter-B'>
            </div>
        </div>
      </div>
      <div class='allergen-con type'>
      <div class='filter-select-A'>
        <div class="inner-filter-A">
          <div class='inner-divs'><input type="checkbox" name='allergen' class='hasEgg'><label>Egg</label></div>
          <div><input type="checkbox" name='allergen'  class='hasMolluscs'><label>Molluscs</label></div>
          <div><input type="checkbox" name='allergen'  class='hasPeanuts'><label>Peanuts</label></div>
          <div><input type="checkbox" name='allergen'  class='hasNuts'><label>Nuts</label></div>
          <div><input type="checkbox" name='allergen'  class='hasSoyabeans'><label>Soyabeans</label></div>
          <div><input type="checkbox" name='allergen'  class='hasMilk'><label>Milk</label></div>
          <div><input type="checkbox" name='allergen'  class='hasCelery'><label>Celery</label></div>
          <div><input type="checkbox" name='allergen'  class='hasMustard'><label>Mustard</label></div>
          <div><input type="checkbox" name='allergen'  class='hasSesameseeds'><label>Sesame Seeds</label></div>
          <div><input type="checkbox" name='allergen'  class='hasFish'><label>Fish</label></div>
          <div><input type="checkbox" name='allergen'  class='hasLupin'><label>Lupin</label></div>
          <div><input type="checkbox" name='allergen'  class='hasSulpherdioxide'><label>Sulpher Dioxide</label></div>
          <div><input type="checkbox" name='allergen'  class='hasCerals'><label>Cereals</label></div>
          <div><input type="checkbox" name='allergen'  class='hasCrustaceans'><label>Crustaceans </label></div>
        </div>
      </div>
      </div>
    </div>
    </div>
    
    <div class='grids'>
      {% for r in recipe %}
      <div id='{{r.recipe_id}}' class='recipe'>
        <div class="recipe-header">
          <span>{{ r.recipe_name }}</span>
        </div>
        <div class="my-img-card">
          <img src='{{r.url}}'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>{{ r.category_name}}</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>{{ r.author_name}}</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            {% if r.Nuts == 'T' %}
            <span class="allergen">Nuts</span>
            {% endif %}
            {% if r.Egg == 'T' %}
            <span class="allergen">Egg</span>
            {% endif %}
            {% if r.Milk =='T' %}
            <span class="allergen">Milk</span>
            {% endif %}
            {% if r.Pnuts =='T' %}
            <span class="allergen">Peanuts</span>
            {% endif %}
            {% if r.Celery =='T' %}
            <span class="allergen">Celery</span>
            {% endif %}
            {% if r.Mustard =='T' %}
            <span class="allergen">Mustard</span>
            {% endif %}
            {% if r.SSeeds =='T' %}
            <span class="allergen">Sesame Seeds</span>
            {% endif %}
            {% if r.Fish =='T' %}
            <span class="allergen">Fish</span>
            {% endif %}
            {% if r.Moll =='T' %}
            <span class="allergen">Molluscs</span>
            {% endif %}
            {% if r.SBeans =='T' %}
            <span class="allergen">Soyabeans</span>
            {% endif %}
            {% if r.Lupin =='T' %}
            <span class="allergen">Lupin</span>
            {% endif %}
            {% if r.SDioxide =='T' %}
            <span class="allergen">Sulpher Dioxide</span>
            {% endif %}
            {% if r.Cerals =='T' %}
            <span class="allergen">Cerals</span>
            {% endif %}
            {% if r.Crust =='T' %}
            <span class="allergen">Crustaceans</span>
            {% endif %}
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>{{r.likes}}</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>{{ r.collected}}</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    {% endfor %}
    </div>
   
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src={{url_for('static',filename='js/main.js')}}> </script>
{% endblock %}