{% extends "base.html" %}
{% block head %}

<link rel='stylesheet' href={{url_for('static',filename='css/styles.css')}}>
{% endblock %}

{% block header %}
<span class='page-title'>{{username}}</span>
{% endblock %}

  {% block section %}
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  {% endblock %}
  
  {% block content %}
   
   <div class='welcome-user'>
       
   </div>
   <div class='user-inner-menu'>
       <ul>
           <li class='inner-menu-a menu-item'>YOUR RECIPES</li>
           <li class='inner-menu-b menu-item'>COLLECTED</li>
           <li class='inner-menu-c menu-item'>CREATE RECIPE</li>
       </ul>
   </div>
   
   <div class='grids'>
      <div id='1' class='recipe'>
        <div class="recipe-header">
          <span>Ice Cream Sunday</span>
        </div>
        <div class="my-img-card">
          <img src='https://github.com/JohnL3/Photos/blob/master/alldesert.jpg?raw=true'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>DESSERT</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>Mary Berry</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            <span class="allergen">Nuts</span>
            <span class="allergen">Milk</span>
            <span class="allergen">Peanut</span>
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>10</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>30</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div id='2' class='recipe'>
        <div class="recipe-header">
          <span>Ice Cream Sunday</span>
        </div>
        <div class="my-img-card">
          <img src='https://raw.githubusercontent.com/JohnL3/Photos/master/desert.jpg'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>DESSERT</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>Mary Berry</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            <span class="allergen">Nuts</span>
            <span class="allergen">Milk</span>
            <span class="allergen">Peanut</span>
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>10</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>30</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class='recipe'>
        <div class="recipe-header">
          <span>Ice Cream Sunday</span>
        </div>
        <div class="my-img-card">
          <img src='https://github.com/JohnL3/Photos/blob/master/alldesert.jpg?raw=true'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>DESSERT</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>Mary Berry</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            <span class="allergen">Nuts</span>
            <span class="allergen">Milk</span>
            <span class="allergen">Peanut</span>
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>10</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>30</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
          
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src={{url_for('static',filename='js/user.js')}}> </script>
{% endblock %}