{% extends "base.html" %}
{% block head %}
<link rel='stylesheet' href={{url_for('static',filename='css/styles.css')}}>
{% endblock %}

{% block header %}
<span class='page-title'>{{username}}</span>
{% endblock %}

  {% block section %}
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  {% endblock %}
  
  {% block content %}
   
   <div class='welcome-user'>
       
   </div>
   <div class='user-inner-menu'>
       <ul>
           <li class='inner-menu-a menu-item'>YOUR RECIPES</li>
           <li class='inner-menu-b menu-item'>COLLECTED</li>
           <li class='inner-menu-c menu-item'>CREATE RECIPE</li>
       </ul>
   </div>
   
   <div class='grids'>
      <div id='1' class='recipe'>
        <div class="recipe-header">
          <span>Ice Cream Sunday</span>
        </div>
        <div class="my-img-card">
          <img src='https://github.com/JohnL3/Photos/blob/master/alldesert.jpg?raw=true'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>DESSERT</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>Mary Berry</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            <span class="allergen">Nuts</span>
            <span class="allergen">Milk</span>
            <span class="allergen">Peanut</span>
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>10</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>30</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <div id='2' class='recipe'>
        <div class="recipe-header">
          <span>Ice Cream Sunday</span>
        </div>
        <div class="my-img-card">
          <img src='https://raw.githubusercontent.com/JohnL3/Photos/master/desert.jpg'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>DESSERT</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>Mary Berry</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            <span class="allergen">Nuts</span>
            <span class="allergen">Milk</span>
            <span class="allergen">Peanut</span>
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>10</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>30</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class='recipe'>
        <div class="recipe-header">
          <span>Ice Cream Sunday</span>
        </div>
        <div class="my-img-card">
          <img src='https://github.com/JohnL3/Photos/blob/master/alldesert.jpg?raw=true'>
        </div>
        <div class="recipe-box">
          <div class="recipe-details">
            <div class="recipe-category">
              <span>CATEGORY</span><span>DESSERT</span>
            </div>
            <div class="recipe-author">
              <span>AUTHOR</span><span>Mary Berry</span>
            </div>
          </div>
          <span>ALLERGENS</span>
          <div class="recipe-allergens">
            <span class="allergen">Nuts</span>
            <span class="allergen">Milk</span>
            <span class="allergen">Peanut</span>
          </div>
          <div class='section-con'>
            <div class="icons">
              <div class="likes">
                <i class="far fa-heart"></i>
                <span>10</span>
              </div>
              <div class="collect">
                <i class="far fa-folder-open"></i>
                <span>30</span>
              </div>
            </div>
            <div class='visit'>
              <div>
                <span class='view-span'>view recipe</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form>
      <div class='create'>
          <ul class='create-recipe type-a'>
              <li><label>RECIPE NAME</label><input type='text'></li>
              <li><label>AUTHOR NAME</label><input type='text'></li>
          </ul>
        
      </div>
      
      <div class='create'>
          <ul class='create-recipe type-b ing'>
              <li><label>INGREDIENTS</label><input type='text'></li>
              <li><label>QUANTITY</label><input type='text'></li>
              <li class='less-padding'><input type='text'></li>
              <li class='less-padding'><input type='text'></li>
          </ul>
          <div class='add-lines'>
              <span>Add more lines</span>
          </div>
      </div>
      <div class='create'>
          <ul class='create-recipe type-a'>
              <li><label>PREP TIME</label><input type='text'></li>
              <li><label>COOK TIME</label><input type='text'></li>
          </ul>
      </div>
      
      <div class='recipe-allergens-con'>
        <div class='recipe-allergens'>
            <label>Select all allergens used in recipe</label>
            <div class="allergens">
            <div><input type="checkbox" class='hasEgg'><label>Egg</label></div>
            <div><input type="checkbox" class='hasMolluscs'><label>Molluscs</label></div>
            <div><input type="checkbox" class='hasPeanuts'><label>Peanuts</label></div>
            <div><input type="checkbox" class='hasNuts'><label>Nuts</label></div>
            <div><input type="checkbox" class='hasSoyabeans'><label>Soyabeans</label></div>
            <div><input type="checkbox" class='hasMilk'><label>Milk</label></div>
            <div><input type="checkbox" class='hasCelery'><label>Celery</label></div>
            <div><input type="checkbox" class='hasMustard'><label>Mustard</label></div>
            <div><input type="checkbox" class='hasSesameseds'><label>Sesame Seeds</label></div>
            <div><input type="checkbox" class='hasFish'><label>Fish</label></div>
            <div><input type="checkbox" class='hasLupin'><label>Lupin</label></div>
            <div><input type="checkbox" class='hasSulpherdioxide'><label>Sulpher Dioxide</label></div>
            <div><input type="checkbox" class='hasCerals'><label>Cereals</label></div>
            <div><input type="checkbox" class='hasCrustaceans'><label>Crustaceans </label></div>
            </div>
          </div>
        </div>
        
        <div class='create'>
          <ul class='create-recipe type-c'>
              <li><label>CATEGORY</label></li>
              <select>
                <option>Dessert</option>
                <option>Cakes</option>
              </select>
            </ul>
        </div>
          
        <div class='create'>
            <ul class='create-recipe type-a'>
                <li><label>INSTRUCTIONS</label></li>
            </ul>
        </div>
        <div class='recipe-instructions'>
          <div class='instructions-con'>
            <textarea rows="3" class='step' placeholder='Pour into bowl' ></textarea>
            <textarea rows="3" class='step' placeholder='Pour into bowl' ></textarea>
            
          </div>
           <div class='add-lines'>
              <span>Add more Instructions</span>
          </div>
        </div>
        <div class='choose-img'>
          <div class='con-img'>
            
          </div>
        </div>
        <div class='create'>
          <ul class='create-recipe type-a'>
              <li><button>SUBMIT</button></li>
          </ul>
      </div>
        
  </form>
   
    
    
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src={{url_for('static',filename='js/user.js')}}> </script>
{% endblock %}