{% extends "base.html" %}
{% block head %}

<link rel='stylesheet' href={{url_for('static',filename='css/styles.css')}}>
{% endblock %}

{% block header %}
<span class='page-title'>{{id}}</span>
{% endblock %}

 {% block section %}
    <ul>
      {% if username %}
      <li><a class='online-user' href="{{ url_for('user') }}">{{username}}</a></li>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('recipe') }}">Recipes</a></li>
      <li><a href="{{ url_for('signup_login') }}">Sign Up/Login</a></li>
      {% endif %}
    </ul>
    {% endblock %}
    
    {% block content%}
    <div class='stuff'>
        
    </div>
    <div class='recipe-container'>
        {% for r in recipe %}
        <div id='{{r.recipe_id}}' class="recipe-title">
            <span>{{ r.recipe_name}}</span>
        </div>
        <div class='my-img'>
            <img class='single-recipe' src='{{ r.url }}'>
        </div>
        
        <div class='second'>
            <div class='recipe-banner'>
              <span>OUR COOKBOOK</span>
              <img src='/static/assets/images/homeimageC.jpg'>
            </div>
            
            <div class='surround'>
                <div class='recipe-page-icon'>
                    <div class='collect-r'>
                        <i class="far fa-folder-open"></i>
                        <span>collect</span>
                    </div>
                    <div class='filler'></div>
                    <div class='like-r'>
                        <i class="far fa-heart"></i>
                        <span>like</span>
                    </div>
                </div>
                
                <div class='prep'>
                  <span><strong>PREP :</strong>  {{ r.prep}}</span>
                  <span><strong>COOK :</strong> {{ r.cook }}</span>
                  <span><strong>SERVES :</strong> {{ r.serves }}</span>
                  <span><strong>COLLECTED :</strong>   {{ r.collected }}</span>
                  <span><strong>LIKES :</strong>  {{ r.likes }}</span>
                </div>
                
                <div class="the-allergens">
                    <span>Allergens</span>
                    <div class="recipe-allergens single">
                        {% if r.Nuts == 'T' %}
                    <span class="allergen">Nuts</span>
                    {% endif %}
                    {% if r.Egg == 'T' %}
                    <span class="allergen">Egg</span>
                    {% endif %}
                    {% if r.Milk =='T' %}
                    <span class="allergen">Milk</span>
                    {% endif %}
                    {% if r.Pnuts =='T' %}
                    <span class="allergen">Peanuts</span>
                    {% endif %}
                    {% if r.Celery =='T' %}
                    <span class="allergen">Celery</span>
                    {% endif %}
                    {% if r.Mustard =='T' %}
                    <span class="allergen">Mustard</span>
                    {% endif %}
                    {% if r.SSeeds =='T' %}
                    <span class="allergen">Sesame Seeds</span>
                    {% endif %}
                    {% if r.Fish =='T' %}
                    <span class="allergen">Fish</span>
                    {% endif %}
                    {% if r.Moll =='T' %}
                    <span class="allergen">Molluscs</span>
                    {% endif %}
                    {% if r.SBeans =='T' %}
                    <span class="allergen">Soyabeans</span>
                    {% endif %}
                    {% if r.Lupin =='T' %}
                    <span class="allergen">Lupin</span>
                    {% endif %}
                    {% if r.SDioxide =='T' %}
                    <span class="allergen">Sulpher Dioxide</span>
                    {% endif %}
                    {% if r.Cerals =='T' %}
                    <span class="allergen">Cerals</span>
                    {% endif %}
                    {% if r.Crust =='T' %}
                    <span class="allergen">Crustaceans</span>
                    {% endif %}    
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class='instruct-method-header'>
            <ul>
                <li class='li-first sm'>INGREDIENTS</li>
                <li class='li-first lg'>RECIPE</li>
                <li class='li-second'>METHOD</li>
            </ul>
        </div>
        <div class='display-ing'>
            {% for ing in recipe_ing %}
            <div class='inner-ing'>
                <span>{{ ing.ing_name }}</span> <span>{{ ing.ing_quantity }}</span>
            </div>
            {% endfor %}
        </div>
        <div class='display-method'>
            {% for ins in r.instructions %}
            <p>{{ ins[0] }}</p>
            {% endfor %}
            
        </div>
      {% endfor %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src={{url_for('static',filename='js/viewrecipe.js')}}> </script>
    {% endblock %}